.NavBarContainer {
    height: 50px;
    width: 100%;
    background-color: rgba(62, 62, 62);
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
}

.NavBarLeft {
    flex: 3;
}

.NavBarMiddle {
    flex: 5;
    display: flex;
}

.NavBarRight {
    flex: 4;
}

.logo {
    font-size: 24px;
    margin-left: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    cursor: pointer;
}

.searchIcon {
    font-size: 20px !important;
    margin-left: 10px;;
}

.SearchInput {
    border: none;
    width: 70%;
}

.SearchInput:focus {
    outline: none;
}

.homeIcon {
    margin-left: 10px;
    font-size: 25px;
    color: white;
}
.createIcon {
    margin-left: 10px;
    font-size: 25px;
    color: white;
}
.joinIcon {
    margin-left: 10px;
    font-size: 25px;
    color: white;
}

.Profile {
    width: 40px;
    height: 40px;
}

.SearchBar {
    width: 100%;
    height: 30px;
    background-color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
}