.disclaimer {
  margin-top: 100px;
}

.navbar {
  padding: 10px;
}

.input-box {
  background-color: rgb(158, 158, 158);
  width: 500px;
  height: 500px;
  border-radius: 20px;
  border-style: dotted;
}
.output-box {
  background-color: rgb(153, 131, 131);
  width: 500px;
  height: 500px;
  border-radius: 20px;
  border-style: dashed;
}