.disclaimer {
  margin-top: 100px;
  margin-bottom: 50px;
}

.navbar {
  padding: 10px;
}

.input-box {
  background-color: rgb(233, 233, 233);
  width: 500px;
  height: 500px;
  border-radius: 20px;
  border-style: dashed;
  cursor: pointer;
  transition-timing-function: ease-out;
  transition: 0.25s;
}

.output-box {
  background-color: rgb(233, 233, 233);
  width: 500px;
  height: 500px;
  border-radius: 20px;
  border-style: dashed;
  transition-timing-function: ease-out;
  transition: 0.25s;
}

.output-box:hover{
  box-shadow: inset 5px 5px 5px 2px rgb(177, 177, 177);
  transition-timing-function: ease-in;
  transition: 0.25s;
}

.input-box:hover{
  box-shadow: inset 5px 5px 5px 2px rgb(177, 177, 177);
  transition-timing-function: ease-in;
  transition: 0.25s;
}